body {
  background-color: linen;
}

h3 {
  color: maroon;
  margin-left: 40px;
}

.header {
  padding: 100px;
  background: #grey;
  opacity: 60%;
  color: white;
  font-size: 30px;
}

.footer {
  padding: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  opacity: 60%;
}
