body {
	margin: 0;
	padding: 0;
	font-family: 'merriweather',serif;
	line-height: 1.5em;
	color: #333333;
	background-color: rgb(235, 250, 255);
	}

.nav {
	position: absolute;
	top: 0px;
	float: left;
	height: 100%;
	width: 230px;
	background-color: black;
}

.navBack {
		position: relative;
		top: 100px;
		left: 0;
		bottom: 0;
		width: 230px;
		overflow: auto;
		background: black;
		opacity: 0.2;
	}

.navSide {
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 230px;
	bottom: 0;
	width: 5px;
	overflow-x: hidden;
	background-color: grey;
}

	.header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		overflow: hidden;
	padding-top: 50px;
	}

	main {
		position: fixed;
		top: 20px;
		left: 230px;
		right: 0;
		bottom: 0;
		overflow: auto;
		text-align: center;
	}

	p.innertext {
		color: rgba(39, 35, 35, 0.877);
		text-align: left;
		padding-left: 300px;
		padding-right: 300px;
	}

	.innertube {
		margin: 15px;
		color: white;
		padding-top: 15%;
	}

.headerText {
	color: black;
	padding-left: 230px;
}


.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 5px 5px;
	position: absolute;
	z-index: 50;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

a {
	color: black;
}

a:link {color: white;text-decoration:none;}
a:visited {color:grey;text-decoration:none;}
a:hover {color:#ffcc00;text-decoration:none;}

h1 {
	color: black;
}

.innertext {
	color: white;
}

p {
	color: black;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 90%;
	max-height: 90%;
}

.image1{
	color: transparent;
	background-image:url(images/git.png);
	background-size:cover;
	background-repeat:no-repeat
}

.image2{
	color: transparent;
	background-image:url(images/linkedin-3-xxl.png);
	background-size:cover;
	background-repeat:no-repeat
}

.image3{
	color: transparent;
	background-image:url(images/paper-xxl.png);
	background-size:cover;
	background-repeat:no-repeat
}

.goimage{
	color: transparent;
	background-image:url(images/arrow-58-xxl.png);
	background-size:cover;
	background-repeat:no-repeat
}

.emailimage{
	color: transparent;
	background-image:url(images/email-2-xxl.png);
	background-size:cover;
	background-repeat:no-repeat
}

.myimage {
	border-radius: 60%;
}

nav ul a {
	color: black;
	text-decoration: underline;
}

.iconDetails {
	margin-left:2%;
   float:left; 
   height:40px;
   width:40px;	
   } 
   
.container2 {
	width:100%;
	height:auto;
	padding:1%;
}

h4 {
	margin:0px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
  }

.coverimage {
	padding-left: 20px;
	order: 1;
}

.covertext {
	color: white;
	padding-left: 20px;
  }